* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  margin: 50px 0;
  background-color: #95C5EB;
}

#questionHolder {
  width: 80%;
  margin: 0 auto;
}

.question {
  width: 80%;
  margin: 0 auto 15px;
  border: 2px solid #DEDEF8;
  border-radius: 5px;
  display: block;
  padding: 10px;
  background: #FFF;
}
.question .user {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding-right: 20px;
}
.question .user img {
  border-radius: 100%;
  width: 100px;
  margin: 0 auto;
}
.question .user h3 {
  margin: 0 0 5px;
}
.question .actions {
  text-align: right;
  font-size: 13px;
}
.question .actions .time {
  margin-right: 5px;
}
.question .actions .comments {
  margin-left: 5px;
}
.question .content {
  display: table-cell;
  vertical-align: top;
}
.question .content h1 {
  padding: 0;
  margin: 0;
}
.next-button {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 5px 15px;
  background-color: #FFF;
  border-radius: 5px;
  border: 2px solid #DEDEF8;
}